@model string

<td style="width:150px">
    <div class="btn-group">
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model">
            <i class="btn btn-info"></i>
        </a>

        <a asp-action="DeleteUser" class="btn btn-success" asp-route-id="@Model">
            <i class="btn btn-danger"></i>
        </a>

    </div>

</td>